<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vcs</key>
	<array>
		<dict>
			<key>class</key>
			<string>NUIViewController</string>
			<key>title</key>
			<string>Simple VC</string>
        </dict>
        <dict>
            <key>class</key>
            <string>CellLayoutViewController</string>
            <key>title</key>
            <string>Cell Layouts</string>
		</dict>
        <dict>
            <key>class</key>
            <string>StackLayoutViewController</string>
            <key>title</key>
            <string>Stack Layouts</string>
        </dict>
	</array>
</dict>
</plist>
